<h1>@<%= current_user.username %>'s HarvestList Feed</h1>

    <% @products.reverse.each do |product| %>
        
        <%= link_to product do %>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="well">
                    <% if product.image.url.blank? == false %>
                        <%= image_tag product.image.url %> 
                    <% end %>
                    <div class="right">
                        <h3><%= product.name %></h3>
                        <p><%= product.user.company %></p>
                        <span class="price"><%= number_to_currency product.price %> per </span><span><%= product.unit %></span>
                    </div>   
                </div> 
            </div>
        <% end %>
        
    <% end %>
</div>
