<div class="row">
    <% @products.each do |product| %>
        <div class="col-lg-4 col-md-4">
            <div class="well">
                <% if product.image.url.blank? == false %>
                    <%= link_to product do %>
                        <%= image_tag product.image.url %>
                    <% end %>
                <% end %>
                <div class="right">
                    <h3><%= link_to product.name, product %></h3>
                    <span class="price"><%= number_to_currency product.price %> per </span><span><%= product.unit %></span>
                    <p><a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>"><span class="glyphicon glyphicon-plus"></span> Quick Info</a></p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Price:</strong> <%= number_to_currency product.price %></p>
                        <p><strong>Info:</strong> <%= product.description %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
