<div class="row vendor-info">
  <% if @vendor.avatar.blank? == false %>
    <div class="col-lg-2">
      <div class="vendor-avatar">      
        <%= image_tag @vendor.avatar.url, class:"profile-pic" %>      
      </div>
    </div>
  <% end %>


  <div class="col-lg-6">
    <h1><%= @vendor.company %></h1>
    <p><%= @vendor.name %></p>
    <p><%= @vendor.location %></p>
    <p><%= @vendor.bio%></p>
    <% if current_user.id != @vendor.id %>
    

    <% if current_user.following.include?(@vendor.id) %>
      <%= link_to 'Following', unfollow_path(id: @vendor.id), class: "btn btn-primary unfollow-btn" %>
    <% elsif current_user.id != @vendor.id %>
      <%= link_to 'Follow', following_path(id: @vendor.id), class: "btn btn-primary" %>
    <% end %>

<% end %>
  </div>
    
</div>

<div class="row">
  <%= render 'product_list' %>
</div>