<div class="row">
    <div class="col-lg-6">
        <h1><%= @vendor.company %></h1>
        <p><%= @vendor.name %></p>
        <p><%= @vendor.location %></p>
        <p><%= @vendor.bio%></p>
    </div>
    <div class="col-lg-3 vendor-avatar">
        <%= image_tag @vendor.avatar.url %>
    </div>
</div>

<div class="row">
    <%= render 'product_list' %>
</div>