<h1><%= @emojis[@category.name] %> <%= @category.name %></h1>
<ul class="category-list">
  <% @categories.each do |category| %>
    <li>
      <%= @emojis[category.name] %>
      <%= link_to category.name, categories_path(category_id: category.id) %>
    </li>
  <% end %>
</ul>
<%= render 'product_list' %>