<!DOCTYPE html>
<html>
  <head>
    <title>Harvest List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path do %>
            <span class="navbar-brand" href="#">HarvestList</span>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <% if user_signed_in? && current_user.role == "Seller" %>
                <%= link_to new_product_path do %>
                  <span>New Product</span>
                <% end %>
              <% end %>
            </li>

            <li><%= link_to 'All Products', store_path %>
            </li>
            <!-- Vendors -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expaned="false">Vendors</a>
              <ul class=dropdown-menu>

                <% @vendors.each do |vendor| %>
                  <li><%= link_to vendor.company, vendors_path(user_id: vendor.id) if vendor.role == "Seller" %></li>
                <% end %>
              </ul>
            </li>
            <!-- Categories -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expaned="false">Categories</a>
              <ul class=dropdown-menu>
                <% @categories.each do |category| %>
                  <li><%= link_to category.name, categories_path(category_id: category.id) %></li>
                <% end %>
              </ul>
            </li>
            
          </ul>
          
          <ul class="nav navbar-nav navbar-right">

            <li>
              <%= link_to view_order_path do %>
                <i class="fas fa-shopping-cart"></i><span> View Cart</span>
              <% end %>
            </li>
            <% if user_signed_in? %>              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello <%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", vendors_path(user_id: current_user.id) %></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
